/* 
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
*/
:root {
    --bright-organge: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);

    --min-width-desktop: 1440px;
    --min-width-mobile: 327px;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 62.5%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

.articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.article {
    width: var(--min-width-mobile);
    height: 44.2rem;
    border-radius: 1.5rem;
}

.article:nth-child(2) {
    transform: translate(0, -1rem);
}

.article:nth-child(3) {
    transform: translate(0, -2rem);
}

.article > div {
    width: 23.1rem;
    margin: 4.8rem auto 0 auto;
}

.logo {
    display: block;
    width: 100%;
    height: 4rem;
}

.sedan-logo {
    background: url("../images/icon-sedans.svg") no-repeat;
}

.suvs-logo {
    background: url("../images/icon-suvs.svg") no-repeat;
}

.luxury-logo {
    background: url("../images/icon-luxury.svg") no-repeat;
}

.title {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: bold;
    color: #F2F2F2;
    font-size: 4rem;
    margin-top: 3.5rem;
}

.description {
    color: rgba(255, 255, 255, 0.75);
    line-height: 2.5rem;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 2.5rem;
}

.learn-more {
    width: 14.6rem;
    height: 4.8rem;
    background: #F2F2F2;
    border: 0;
    margin-top: 2.5rem;
    border-radius: 2rem;
    font-size: initial;
}

.learn-more:hover {
    background: transparent;
    color: #FFF;
    border: 1px solid #FFF;
    cursor: pointer;
}

.sedans-bg {
    background-color: var(--bright-organge);
}

.suvs-bg {
    background-color: var(--dark-cyan);
}

.luxury-bg {
    background-color: var(--very-dark-cyan);
}

.sedans-color {
    color: var(--bright-organge);
}

.suvs-color {
    color: var(--dark-cyan);
}

.luxury-color {
    color: var(--very-dark-cyan);
}

@media only screen and ( min-width: 990px ) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }

    .articles {
        display: flex;
        flex-direction: row;
    }

    .article:first-child {
        transform: translate(0, 0rem);
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .article:nth-child(2) {
        transform: translate(0, 0rem);
        border-radius: 0;
    }
    
    .article:last-child {
        transform: translate(0, 0rem);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
    }
}